@mixin mobile {
    @media screen and (max-width:580px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width:980px) {
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width:1190px) {
        @content;
    }
}
@mixin Destop {
    @media screen and (max-width:1440px) {
        @content;
    }
}
@mixin FullHd {
    @media screen and (max-width:2784px) {
        @content;
    }
}
@keyframes fadeOut {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes fadeIn {
      0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.accountTable{
    background: inherit;
    box-shadow: none!important;
    background: #fff;
    padding: 20px;
    .trip-table-content {
    margin:1% 0 0;
    width: 100%;
.trip-table {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.7fr 2fr;
    align-items: stretch;
    .left-table,
    .right-table{
          .table-header{
             .left-tableheader,
             .right-tableheader{
                ul{
                  li{
                    span{
                    color: #555555!important;
                    font-weight: 400!important;
                    }
                  }
                }
             }
          }
    }
    .left-table{
        .table-header {
             border-radius: 0 0 0 16px;
            .left-tableheader{
                width: 100%;
                padding-left: 10px;
                ul{
              display: grid;
             grid-template-columns:  0.5fr 1fr ;
            }
            }
        }
        .table-row{
      .tableRow-left{
         padding-left: 10px;
        .ul{
        display: grid; 
        gap: 10px;
        grid-template-columns:  0.5fr 1fr;
          margin-top: 5px;
        padding: 0;
        .table-icon{
            justify-content: center;
            padding-left: 0;
        }
        p{
            padding-left: 20px;
            display: flex;
        }
    }
      }
    }
    }
    .right-table{
     min-width: 100%;
        overflow-x: auto;
        scrollbar-width: none;
        .table-header{
          //  color: #0152FF;
         min-width: 120%;
          border-radius: 0 0 16px 0;
            .right-tableheader{
                width: 100%;
                    ul{
                        padding-left: 20px;
                    overflow-x: auto;
                  display: grid;
                  grid-template-columns:2fr 1fr 1fr 1fr 1fr 1fr 1fr ;
                }
            }
        }
        .table-row{
          min-width: 120%;
      .tableRow-right{
        .ul{
            display: grid; 
            gap: 0;
             grid-template-columns:2fr 1fr 1fr 1fr 1fr 1fr 1fr ;
            margin-top: 10px;
            p{
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 5px 0;
            }
            .table-icons{
                align-items: center;
                justify-content: center;
            }
        }
    }
}
    }
    .left-table, 
    .right-table{
        display: flex;
        flex-direction: column; 
        height: 100%;
        flex-grow: 1;
        align-items: stretch;
    .table-header{
     padding: 5px 0;
     width: 100%;
    position: relative;
    z-index: 99;
    background: #f5f5f9;
    margin-bottom: 5px;
    .left-tableheader,
    .right-tableheader{
                ul{
                    padding: 0 0 0 20px;
                //  gap: 10px;
                 margin: 0;
             li {
                display: flex;
                align-items: center;
                background: inherit;
                height: 2.8vw;
                padding: 0  ;
                  @include Destop{
                  height: 40px;
                  }
                span {
                    font-family: "Poppins", sans-serif;
                    font-weight: 400;
                    font-size: 1vw;
                    line-height: 20px;
                    color: #4a4a4a;
                    letter-spacing: 0px;
                      @include Destop{
                      font-size: 16px;
                      }
                }
                svg {
                    align-items: center;
                }
            }
            }
        }
    }
    .table-body{
        flex-grow: 1;
    .table-row{
    padding: 0 ;
        height: 10%;
    flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
   padding: 5px 0;
    .tableRow-left,
    .tableRow-right{
        height: 100%;
        flex-grow: 1; 
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        background: #f4f4f4;

    .ul{
    cursor: pointer;
    gap: 0;
    height: 100%;
    position: relative;
      overflow-y: auto;
   scrollbar-width: none;
    &::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #eeeeee;
    transition: .6s ease-in-out;
    }
    p {
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
         height: 100%;
        margin: 0;
        color: #555555;
          overflow-y: auto;
   scrollbar-width: none;
        span {  
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-size: .8vw;
             line-height: 20px;
            letter-spacing: 0px;
            margin: 0;
            color: #263238;
            @include Destop{
            font-size: 15px;
            }
        }
    }
}
  }
}
}
    }
}
 }
.pagination {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #581aae;
    padding: 10px 0px;
    left: 0;
    bottom: 0;
    z-index: 99;
    // border-radius: 30px;
  .double-paginateIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    background: inherit;
    &:disabled {
        background-color: inherit;
        cursor: not-allowed;
      }
    svg{
        margin-right: -15px;
    }
  }
  .double-paginateIcon-right{
    display: flex;
    justify-content: center;
    align-items: center;
    background: inherit;
    &:disabled {
        background-color: inherit;
        cursor: not-allowed;
      }
      &:hover:not(:disabled) {
        background-color: inherit;
        border-color: none;
      }
    svg{
        margin-left: -15px;
    }
  }
  button {
    border: none;
    height: 2.8vw;
    width: 2.8vw;
    line-height: 2.8vw;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    margin: 0;
    @include Destop{
    height: 40px;
    width: 40px;
    }
    svg{
        fill: #581aae;
        align-items: center;
    }
  &:disabled {
    background-color: #fff;
    cursor: allowed;
  }
 &:hover:not(:disabled) {
    transition: .35s;
    background-color: #f7f6f6;
    border-color: none;
  }

}
p{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    span{
        padding: 5px 10px;
        font-weight: 400;
        color: #fff;
    }
    .span{
        font-weight: 400;
        background: inherit;
        border: 1px solid #fff;
        border-radius: 5px;
    }
  }
  span {
    font-size: 1vw;
    font-weight: 500;
    font-family: "poppins" sans-serif;
    letter-spacing: 1px;
    color: #fff;
     @include Destop{
      font-size: 15px;
    }
  }
}
//   .trip-card-popup{
//   .trip-card-popup-container{
//     position: fixed;
//             top: 0;
//             left: 0;
//             padding:0 10px;
//             width: 100%;
//             z-index: 1001;
//             background: rgba(54, 53, 86, 0.42);
//             height: 100%;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             margin: 0 auto;
//             padding: 30px 0px 10px;
//   .popup-content{
//       background: #fff;
//       width:37.5vw;
//       padding: 50px 30px; 
//       overflow-y: auto;
//       scrollbar-width: none;
//       border-radius: 8px;
//       animation: fadeIn .4s ease-in-out;
//       display: flex;
//       flex-direction: column;
//       font-family: "Poppins" sans-serif;
//       @include Destop{
//         width:600px;
//       }
//       .delete-box{
//         display: flex;
//         justify-content: flex-end;
//         cursor: pointer;
//         svg{
//           width: 1.4vw;
//           height: 1.4vw;
//            @include Destop{
//             width: 20px;
//           height: 20px;
//             }
//           }
//        }
//     .popup-proceeed-wrapper{
//         .popup-proceeed-content{
//           padding: 8px 14px;
//               display: flex;
//       flex-direction: column;
//           gap: 10px;
//           transition: .35s;
//           cursor: pointer;
//           svg{
//             width: 1.5vw;
//             height: 1.5vw;
//              @include Destop{
//               width: 25px;
//             height: 25px;
//               }
//         }
//         }
//         span{
//         font-size: 2vw;
//         font-weight: 500;
//         text-align: center;
//         }
//     }
//   }
// }
// }
}