@mixin mobile {
    @media screen and (max-width:580px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width:980px) {
        @content;
    }
}
@mixin Responsive($breakpoint) {
    @media screen and (max-width: $breakpoint) {
      @content;
    }
  }

@mixin laptop {
    @media screen and (max-width:1190px) {
        @content;
    }
}
@mixin Destop {
    @media screen and (max-width:1440px) {
        @content;
    }
}
@mixin FullHd {
    @media screen and (max-width:2784px) {
        @content;
    }
}
@keyframes dropdown {
    0% {
      transform: translateY(-30%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  *{
    margin:0;
}
.create-container-modal{
position: fixed;
inset: 0;
 background: inherit!important;
display: flex;
align-items: center;
justify-content: center;
 z-index: 99!important;
height: 100vh;
padding: 20px 0;
overflow-y: auto;
}

.create-container-card{
background: #fff;
// width: 960px;
width: 100% !important;
scrollbar-width: none;
border-radius: 12px;
padding: 30px;
}
.header{
display: flex;
justify-content: space-between;
align-items: center;


.close{cursor:pointer;color:red;}
}
.account-grid{
  background: #f5f5f7;
  padding: 20px;
  border-radius: 12px;
}
.account-grid-content{
  background: #fff;
  padding: 15px;
  border-radius: 12px;
}
.subtitle{
margin: 12px 0 25px;
color:#777;
}
.account-type{
  .account-wrapper {
  width: 100%;
  padding: 20px;
}

/* DROPDOWN */
.custom-dropdown {
  position: relative;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  h5{
    margin: 10px 0 0;
  }
}

.dropdown-header {
  width: 40%;
  background: #fff;
  border: 1px solid #ddd;
  padding: 12px 10px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;

  &:hover {
    border-color: #581aae;
  }
}

.arrow {
  transition: 0.3s;
}

.rotate {
  transform: rotate(180deg);
}

/* OPTIONS */
.dropdown-options {
  position: absolute;
  width: 100%;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  margin-top: 6px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  z-index: 999;
  overflow: hidden;
}

.dropdown-option {
  padding: 12px 14px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: #f5efff;
    color: #581aae;
  }
}

/* TAB CONTENT */
.tab-content {
  h2 {
    margin: 0;
    color: #581aae;
  }
}

.tab-section {
  background: #f5f5f7;
  margin-top:20px;
  padding: 20px;
  border-radius: 12px;
  h2 {
    color: #581aae;
    margin: 10px 0 0;
    font-size: 1.5rem;
  }

  p {
    color: #666;
    margin: 0 0 10px;
  }
}

.dropdown-option.active {
  background: #f4eaff;
  color: #581aae;
  font-weight: 600;
}

}
.grid-2{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
margin-bottom:20px;
}
.grid-3{
  margin-top: -10px;
}
.form-group{
background:#f7f7f9;
padding:18px;
border-radius:10px;

select{
  background: #fff;
  padding-right: 10px;
}
label{}
}
.form-group-check-box{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px 20px 0;
  .form-group-check{
    display: flex;
    gap: 10px;
    input{
      color: #581aae;
    }
  }
}
.btn-row {
  margin-top: 35px;
  display: flex;
  gap: 18px;

  button {
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
  }

  .create {
    // background: linear-gradient(90deg, #581aae, #d400ff);
    background: #581aae;
    color: white;

    &:hover {
      opacity: 0.8;
    }
  }

  .cancel {
    background: transparent;
    border: 2px solid #581aae;
    color: #581aae;

    &:hover {
      background: #f8e9ff;
    }
  }
}
  .trip-card-popup{
  .trip-card-popup-container{
    position: fixed;
            top: 0;
            left: 0;
            padding:0 10px;
            width: 100%;
            z-index: 1001;
            background: rgba(54, 53, 86, 0.42);
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 30px 0px 10px;
  .popup-content{
      background: #fff;
      width:37.5vw;
      padding: 50px 30px; 
      overflow-y: auto;
      scrollbar-width: none;
      border-radius: 8px;
      animation: fadeIn .4s ease-in-out;
      display: flex;
      flex-direction: column;
      font-family: "Poppins" sans-serif;
      @include Destop{
        width:600px;
      }
      .delete-box{
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        svg{
          width: 1.4vw;
          height: 1.4vw;
           @include Destop{
            width: 20px;
          height: 20px;
            }
          }
       }
    .popup-proceeed-wrapper{
        .popup-proceeed-content{
          padding: 8px 14px;
              display: flex;
      flex-direction: column;
          gap: 10px;
          transition: .35s;
          cursor: pointer;
          svg{
            width: 1.5vw;
            height: 1.5vw;
             @include Destop{
              width: 25px;
            height: 25px;
              }
        }
        }
        span{
        font-size: 2vw;
        font-weight: 500;
        text-align: center;
        }

    }
  }
}
}