@mixin mobile {
    @media screen and (max-width:580px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width:980px) {
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width:1190px) {
        @content;
    }
}
@mixin Destop {
    @media screen and (max-width:1440px) {
        @content;
    }
}
@mixin FullHd {
    @media screen and (max-width:2784px) {
        @content;
    }
}
@keyframes fadeOut {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes fadeIn {
      0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.userTable{
    width: 100%;
    margin-top: 10px;
     .table-wrap {
        overflow: auto;
        background: #fff;
        border-radius: 8px;
        padding: 8px 8px 0;
      }
      .table {
        min-width: 100%;
        border-collapse: collapse;
        font-size: 14px;
         min-width: 100%;
        thead th {
          text-align: left;
          padding: 12px;
          color: #263238;
          font-weight: 600;
          background: #f5f5f9;
          border-bottom: 5px solid #fff;
        }
        tbody td {
          padding: 20px 0px 20px 10px;
          border-bottom: 5px solid #fff;
          background: #f5f5f7;
          vertical-align: middle;
          color: #333;
          margin: 20px 0!important;
          cursor:pointer;
        }

        tbody tr {
          position: relative;
          transition: background 0.2s ease;
          background: #f5f5f9;
             
        }

        tbody tr:hover {
          background: #fbfbff;
        }

        /* TEXT SHORTENER */
        .td-desc {
          max-width: 100px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        /* =====================
            EDIT BUTTON (NEW)
        ===================== */

        .td-actions {
          position: relative;
        }

        .edit-btn {
          margin-left: 10px;
          padding: 6px 14px;
          border-radius: 6px;
          font-size: 12px;
          font-weight: 600;
          background: #581aae;
          color: #fff;
          border: none;
          cursor: pointer;

          opacity: 0;
          visibility: hidden;
          transform: translateX(-5px);
          transition: all 0.2s ease;
        }

        /* Show on hover */
        tbody tr:hover .edit-btn {
          opacity: 1;
          visibility: visible;
          transform: translateX(0);
        }
      }
}