@mixin mobile {
    @media screen and (max-width:580px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width:980px) {
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width:1190px) {
        @content;
    }
}
@mixin Destop {
    @media screen and (max-width:1440px) {
        @content;
    }
}
@mixin FullHd {
    @media screen and (max-width:2784px) {
        @content;
    }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.dashboard{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    background: #F9F9F9;
    .rightbar{
        flex: 1;
        flex-shrink: 0;
         width: 100%;
         height: 100vh;
         overflow-y: auto;
         scrollbar-width: none;
       .page-fade {
        width: 100%;
        animation: fadeIn 0.4s ease-in-out;
    }

    }
}