@mixin mobile {
    @media screen and (max-width:580px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width:980px) {
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width:1190px) {
        @content;
    }
}
@mixin Destop {
    @media screen and (max-width:1440px) {
        @content;
    }
}
@mixin FullHd {
    @media screen and (max-width:2784px) {
        @content;
    }
}
    .headerContainer{
         width: 100%;
         max-width: 100%;
          display: flex;
          flex-wrap: wrap;
           margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0 1.4vw;
        height: 6vw;
        background: #fff;
        border-radius: 0 0 1vw 1vw;
        margin: 0;
        // margin-bottom: 2vw;
        @include Destop{
            padding: 0 20px;
            height: 88px;
            border-radius: 0 0 16px 16px;
             margin: 0;
             margin-bottom: 0;
        }
        .headerParent{
            .headerChild{
                height: 100%;
                width: 100%;
                display: flex;
                .topWrapper{
                     width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    .leftTopWrapper{
                        display: flex;
                        gap: 0.25vw;
                        align-items: center;
                          @include Destop{
                            gap: 3px;
        }
                        h1{
                            font-size: 1.5vw;
                            color: #581aae;
                            font-weight: 500;
                            margin: 0;
                              @include Destop{
                                font-size: 1.5rem;
        }
                        }
                        span{
                            margin: 0;
                        }
                        p{
                            font-size: 1vw;
                            color: #192434;
                            opacity: 0.8;
                            margin: 0;
                              @include Destop{
                                font-size: 14px;
        }
                        }
                    }
                    .rightTopWrapper{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1.4vw;
                          @include Destop{
                            gap: 20px;
        }
                        .menuicon{
                            display: flex;
                             gap: 0.7vw;
                               @include Destop{
                                gap: 10px;
        }
                            .topicons{
                                font-size: 2.7vw;
                                  @include Destop{
                                    font-size: 27px;
        }
                            }
                            .notification{
                                position: relative;
                                display: flex;
                                .topicons{
                                    font-size: 5vw;
                                    width: 1.9vw;
                                    height: 2vw;
                                      @include Destop{
                                        font-size: 27px;
        }
                                }
                                .notificationtext{
                                    position: absolute;
                                    right: 0;
                                    height: 1vw;
                                    width: 1vw;
                                    line-height: 1vw;
                                    text-align: center;
                                    border-radius: 50%;
                                    color: #fff;
                                    background: #d41317;
                                    font-size: 0.7vw;
                                      @include Destop{
                                        height: 15px;
                                        width: 15px;
                                        line-height: 15px;
                                        font-size: 10px;
                                      }
                                }
                            }
                        }
                        .menuProfile{
                            display: flex;
                            gap: 1.4vw;
                            cursor: pointer;
                            .profileImg{
                                img{ 
                                    width: 3vw;
                                    border-radius: 50%;
                                    color: #581aae;
                                      @include Destop{
                                        gap: 20px;
                                          width: 40px;
        }
                                }
                            }
                            .profileText{
                                display: flex;
                                flex-direction: column;
                                p{
                                    margin-bottom: -0.1vw;
                                    font-size: 1.1vw;
                                      @include Destop{
                                        margin-bottom: -2px;
                                        font-size: 16px;
        }
                                }
                                span{
                                    font-size: 0.8vw;
                                    color: #36363E;
                                    opacity: 0.5;
                                      @include Destop{
                                        font-size: 12px;
        }
                                }
                            }
                        }
                    }
                }
            }
        }
    }