@mixin mobile {
    @media screen and (max-width:580px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width:980px) {
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width:1190px) {
        @content;
    }
}
@mixin Destop {
    @media screen and (max-width:1440px) {
        @content;
    }
}
@mixin FullHd {
    @media screen and (max-width:2784px) {
        @content;
    }
}
    .headerContainer{
         width: 100%;
         max-width: 100%;
          display: flex;
          flex-wrap: wrap;
           margin: 0;
          padding: 0 0 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0 20px;
        height: 88px;
        background: #fff;
        border-radius: 0 0 16px 16px;
        margin: 0;
        .headerParent{
            .headerChild{
                height: 100%;
                width: 100%;
                display: flex;
                .topWrapper{
                     width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    .leftTopWrapper{
                        display: flex;
                        gap: 3px;
                        align-items: center;
                        h1{
                            font-size: 1.5rem;
                            color: #581aae;
                            font-weight: 500;
                            margin: 0;
                        }
                        span{
                            margin: 0;
                        }
                        p{
                            font-size: 14px;
                            color: #192434;
                            opacity: 0.8;
                            margin: 0;
                        }
                    }
                    .rightTopWrapper{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 20px;
                        .menuicon{
                            display: flex;
                             gap: 10px;
                            .topicons{
                                font-size: 27px;
                            }
                            .notification{
                                position: relative;
                                display: flex;
                                .topicons{
                                    font-size: 27px;
                                }
                                .notificationtext{
                                    position: absolute;
                                    right: 0;
                                    height: 15px;
                                    width: 15px;
                                    line-height: 15px;
                                    text-align: center;
                                    border-radius: 50%;
                                    color: #fff;
                                    background: #d41317;
                                    font-size: 10px;
                                }
                            }
                        }
                        .menuProfile{
                            display: flex;
                            gap: 20px;
                            .profileImg{
                                img{ 
                                    width: 40px;
                                    border-radius: 50%;
                                }
                            }
                            .profileText{
                                display: flex;
                                flex-direction: column;
                                p{
                                    margin-bottom: -2px;
                                    font-size: 16px;
                                }
                                span{
                                    font-size: 12px;
                                    color: #36363E;
                                    opacity: 0.5;
                                }
                            }
                        }
                    }
                }
            }
        }
    }