@mixin mobile {
    @media screen and (max-width:580px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width:980px) {
        @content;
    }
}
@mixin Responsive($breakpoint) {
    @media screen and (max-width: $breakpoint) {
      @content;
    }
  }

@mixin laptop {
    @media screen and (max-width:1190px) {
        @content;
    }
}
@mixin Destop {
    @media screen and (max-width:1440px) {
        @content;
    }
}
@mixin FullHd {
    @media screen and (max-width:2784px) {
        @content;
    }
}
@keyframes dropdown {
    0% {
      transform: translateY(-30%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  *{
    margin:0;
}
.create-container-modal{
position: fixed;
inset: 0;
background: rgba(0,0,0,.25);
display: flex;
align-items: center;
justify-content: center;
z-index: 999;
}


.create-container-card{
background: #fff;
width: 960px;
max-width: 95%;
border-radius: 12px;
padding: 30px;
}


.header{
display: flex;
justify-content: space-between;
align-items: center;


.close{cursor:pointer;color:red;}
}


.subtitle{
margin: 12px 0 25px;
color:#777;
}

.grid-2{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
margin-bottom:20px;
}

.form-group{
background:#f7f7f9;
padding:18px;
border-radius:10px;


label{}
}
.btn-row {
  margin-top: 35px;
  display: flex;
  gap: 18px;

  button {
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
  }

  .create {
    // background: linear-gradient(90deg, #581aae, #d400ff);
    background: #581aae;
    color: white;

    &:hover {
      opacity: 0.8;
    }
  }

  .cancel {
    background: transparent;
    border: 2px solid #581aae;
    color: #581aae;

    &:hover {
      background: #f8e9ff;
    }
  }
}