@mixin mobile {
    @media screen and (max-width:580px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width:980px) {
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width:1190px) {
        @content;
    }
}
@mixin Destop {
    @media screen and (max-width:1440px) {
        @content;
    }
}
@mixin FullHd {
    @media screen and (max-width:2784px) {
        @content;
    }
}
@keyframes fadeOut {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes fadeIn {
      0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.create-trip-modal {
    width: 100%;
    padding:20px;
    background: #fff;
   border-radius: 12px;
  box-shadow: 0px 3px 12px rgba(0,0,0,0.08);
   animation: fadeIn .5s;
   position: relative;
   height: 100%;
   max-width: 100%;
  .trip-card {
   width: 100%;
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-size: 22px;
      font-weight: 600;
      margin: 0;
      color: #581aae;
    }
    .close-icon {
      cursor: pointer;
      color: #ff0000;
    }
  }
  .subtitle {
    margin-top: 6px;
    color: #6c6c6c;
    font-size: 14px;
  }
  .form-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-top: 25px;
  .form-group {
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
    label {
      font-size: 14px;
      margin-bottom: 6px;
      span {
        color: red;
      }
    }
    textarea {
      width: 100%;
      height: 160px;
      padding: 12px;
      border: none;
      background: #fff;
      border-radius: 8px;
      font-size: 14px;
      outline: none;
      &:focus {
        border-color: #581aae;
      }
    }
  .form-group-wrapper{
      display: flex;
      flex-direction: column;
      gap: 30px;
      .form-group-content{
    .input-box {
      position: relative;
      input {
        width: 100%;
        padding: 12px 40px 12px 14px;
        border:none;
        border-radius: 8px;
        font-size: 14px;
        outline: none;
  
        &:focus {
          border-color: #581aae;
        }
      }
  
      .clear,
      .calendar {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        color: #888;
        cursor: pointer;
      }
    }
       }
      }
      .input-box {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #fff;
      border:none;
      border-radius: 8px;
      gap: 0;
      input {
        width: 100%;
        padding: 12px 10px 12px 14px;
        font-size: 14px;
        background: inherit;
        border: none;
        border-radius: none;
        outline: none;
            color: #581aae;
  
        &:focus {
          border-color: #581aae;
        }
      }
  
      .clear,
      .calendar {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        color: #888;
        cursor: pointer;
      }
    }
  }
  }
  
  .btn-row {
    margin-top: 35px;
    display: flex;
    gap: 18px;
  
    button {
      padding: 12px 30px;
      border: none;
      border-radius: 30px;
      font-size: 15px;
      cursor: pointer;
      transition: 0.3s;
    }
  
    .create {
      // background: linear-gradient(90deg, #581aae, #d400ff);
      background: #581aae;
      color: white;
  
      &:hover {
        opacity: 0.8;
      }
    }
  
    .cancel {
      background: transparent;
      border: 2px solid #581aae;
      color: #581aae;
  
      &:hover {
        background: #f8e9ff;
      }
    }
  }
    }
    .trip-card-popup{
    .trip-card-popup-container{
      position: fixed;
              top: 0;
              left: 0;
              padding:0 10px;
              width: 100%;
              z-index: 1001;
              background: rgba(54, 53, 86, 0.42);
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0 auto;
              padding: 30px 0px 10px;
    .popup-content{
        background: #fff;
        width:37.5vw;
        padding: 50px 30px; 
        overflow-y: auto;
        scrollbar-width: none;
        border-radius: 8px;
        animation: fadeIn .4s ease-in-out;
        display: flex;
        flex-direction: column;
        font-family: "Poppins" sans-serif;
        @include Destop{
          width:600px;
        }
        .delete-box{
          display: flex;
          justify-content: flex-end;
          cursor: pointer;
          svg{
            width: 1.4vw;
            height: 1.4vw;
             @include Destop{
              width: 20px;
            height: 20px;
              }
            }
         }
      .popup-proceeed-wrapper{
          .popup-proceeed-content{
            padding: 8px 14px;
                display: flex;
        flex-direction: column;
            gap: 10px;
            transition: .35s;
            cursor: pointer;
            svg{
              width: 1.5vw;
              height: 1.5vw;
               @include Destop{
                width: 25px;
              height: 25px;
                }
          }
          }
          span{
          font-size: 2vw;
          font-weight: 500;
          text-align: center;
          }
  
      }
    }
  }
  }
  }