@mixin mobile {
    @media screen and (max-width:580px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width:980px) {
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width:1190px) {
        @content;
    }
}
@mixin Destop {
    @media screen and (max-width:1440px) {
        @content;
    }
}
@mixin FullHd {
    @media screen and (max-width:2784px) {
        @content;
    }
}
@keyframes fadeOut {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes fadeIn {
      0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

    .emptysale{
        width: 100%;
        margin-top: 10px;
      .emptysale-container{
        .emptysale-content{
           .top-content{
             background: #fff;
              padding:20px 20px 30px;
              border-radius: 16px 16px 0 0;
              width: 100%;
              .top-content-wrapper{
                  display: flex;
            justify-content:space-between;
            align-items: center;
            .left-wrapper{
            }
                .right-wrapper{
                     display: flex;
                     gap: 10px;
            justify-content:center;
             align-items: center;
             .right-wrapper-input{
                width: 15vw;
                 height: 3vw;
                border: 1px solid #B9B7B7;
                 border-radius: 6px;
                padding: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                @include Destop{
                    height: 45px;
                    width: 200px;
                }
                input{
                  border: none;
                  width: 100%;
                  outline-style: none;
                  color: #1B212C;
                  font-family: "Roboto" sans-serif;
                  font-weight: 400;
                  font-size: 1vw;
                  line-height: 20px;
                  letter-spacing: 0.25px;
                  @include Destop{
                  font-size: 14px;
                }
              &::placeholder{
                  color: #8EA396;
                    }
            }
                .input-icon{
                            width: 1.3vw;
                            height: 1.3vw;
                            @include Destop{
                                width:17px ;
                                height:17px;
                        }
            }
                 }
              .select-input{
                            .select-input-field{
                                z-index: 999;
                                cursor: pointer;
                                align-items: center;
                                padding: 0 12px;
                                width: 12vw;
                                height: 3vw;
                                display: flex;
                                justify-content: space-between;
                                gap: 8px;
                                border: 1px solid #263238;
                                border-radius: 6px;
                                @include Destop{
                                height: 45px;
                                width: 158px;
                            }
                                span{
                                    margin: auto 0;
                                    color: #263238;
                                    font-family: "Roboto" sans-serif;
                                    font-weight: 500;
                                    font-size: 1.1vw;
                                    line-height: 19.36px;
                                    letter-spacing: 0%;      
                                    @include Destop{
                                    font-size: 16px;
                                     }                              
                                }
                                
                            }
                            .filter{    
                            z-index: 999;                
                                cursor: pointer;
                                align-items: center;
                                padding: 0 12px;
                                width: 10vw;
                                height: 3vw;
                                display: flex;
                                justify-content: space-between;
                                gap: 8px;
                                border: 1px solid #263238;
                                border-radius: 6px;
                                @include Destop{
                                height: 45px;
                                width: 148px;
                            }
                                span{
                                    margin: auto 0;
                                    color: #263238;
                                    font-family: "Roboto" sans-serif;
                                    font-weight: 500;
                                    font-size: 1.1vw;
                                    line-height: 19.36px;
                                    letter-spacing: 0%;      
                                    @include Destop{
                                    font-size: 16px;
                                     }                              
                                }
                             }
                            .select-dropdown{
                                position: absolute;
                                z-index: 1000!important;
                                margin-top: 10px;
                                 width: 12vw;
                                 height: 32vh;
                                 overflow-y: auto;
                                 background: #fff;
                                 box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
                                 border-radius: 8px;
                                 scrollbar-width: none;
                                 animation: dropdown .35s ease-in-out;
                                 @include Destop{
                                    width: 188px;
                                }
                                ul{
                                    padding: 20px 0 5px;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 15px;
                                    overflow: hidden;
                                        @include Destop{
                                            gap: 10px;
                                    }
                                    li{
                                        display: flex;
                                        justify-content: space-between;
                                        padding: 0 10px;
                                        align-items: center;
                                        &:hover{
                                            background: #F1F1F1;
                                            span{
                                                color: #000;
                                                font-weight: 500;
                                            }
                                        }
                                        span{
                                            font-family: "Poppins" sans-serif;
                                            font-weight: 400;
                                            font-size: 1vw;
                                            line-height: 18px;
                                            letter-spacing: 0px;
                                            font-weight: 400;
                                            line-height: 18px;
                                            letter-spacing: 0px;   
                                            color: #263238;    
                                              @include Destop{
                                                 font-size: 13px;
                                     }                                                                                 
                                        }
                                        .check{
                                            svg{
                                                width: 1.2vw;
                                                height: 1.2vw;
                                                @include Destop{
                                                    width:17px ;
                                                     height:17px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                          .import-input{
                            cursor: pointer;
                            width: 8vw;
                            height: 3vw;
                            align-items: center;
                            padding: 0 12px;
                            display: flex;
                            justify-content: space-between;
                            gap: 8px;
                            border-radius: 6px;
                            border: 1px solid #263238;
                              @include Destop{
                                width: 124px;
                               height: 45px;
                                 }
                            p{
                                margin: auto 0;
                                font-family: "Roboto" sans-serif;
                                font-weight: 400;
                                font-size: 1.1vw;
                                line-height: 24px;
                                letter-spacing: 0%;   
                                color: #1B212C; 
                                @include Destop{
                                    font-size: 16px;
                                     }                            
                            }
                            .input-icon{
                                font-size: 16px;
                                svg{
                                    width: 1.3vw;
                                    height: 1.3vw;
                                    @include Destop{
                                        width:17px ;
                                        height:17px;
                                    }
                                }
                            }
                        }
                 button{
                  background: #581aae;
                color: #fff;
                padding: 10px 30px ;
                border: none;
                border-radius: 8px;
            }
                }
              }
              .top-content-account{
                .top-content-account-wrappper{
                  display: grid;
                  grid-template-columns: repeat(3,1fr);
                  gap: 30px;
                  align-items: center;
                  margin-top:20px ;
                  .account-grid{
                      background: #fff;
                       border-radius: 12px;
                      box-shadow: 0px 3px 12px rgba(0,0,0,0.08);
                      animation: fadeIn .5s;
                      position: relative;
                      padding: 20px;
                      display: flex;
                      align-items: center;
                      gap: 20px;
                    span{
                      color: #581aae;
                      font-size: 30px;
                    }
                    svg{
                      fill: #581aae;
                    }
                  }
                }
              }
            }
            .main-content{
                .main-content-image{
                     display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 3%;
                  .main-content-image-text{
                    text-align: center;
                    p{
                      font-size: 1.3vw;
                      color: #263238;  
                      margin: 0;
                    }
                    span{
                        font-size: 1.2vw;
                        color: #B9B7B7;
                        margin: 0;
                    }
                }
                }
                .main-content-page{
                    width: 100%;
  .trip-modal {
  width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
  padding:20px;
  background: #fff;
 border-radius: 12px;
box-shadow: 0px 3px 12px rgba(0,0,0,0.08);
 animation: fadeIn .5s;
 position: relative;
 height: 100%;
 max-width: 100%;
.trip-card {
 width: 100%;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
  }
  .close-icon {
    cursor: pointer;
    color: #ff0000;
  }
}
.subtitle {
  margin-top: 6px;
  color: #6c6c6c;
  font-size: 14px;
}
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin-top: 25px;
.form-group {
  display: flex;
  flex-direction: column;
  label {
    font-size: 14px;
    margin-bottom: 6px;
    span {
      color: red;
    }
  }
  textarea {
    width: 100%;
    height: 160px;
    padding: 12px;
    border: none;
    background: #F9F9F9;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    &:focus {
      border-color: #581aae;
    }
  }
.form-group-wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
    .form-group-content{
  .input-box {
    position: relative;
    input {
      width: 100%;
      padding: 12px 40px 12px 14px;
      border: 1.5px solid #eaeaea;
      border-radius: 8px;
      font-size: 14px;
      outline: none;

      &:focus {
        border-color: #581aae;
      }
    }

    .clear,
    .calendar {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      color: #888;
      cursor: pointer;
    }
  }
     }
    }
    .input-box {
    position: relative;
    input {
      width: 100%;
      padding: 12px 40px 12px 14px;
      border: 1.5px solid #eaeaea;
      border-radius: 8px;
      font-size: 14px;
      outline: none;

      &:focus {
        border-color: #581aae;
      }
    }

    .clear,
    .calendar {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      color: #888;
      cursor: pointer;
    }
  }
}
}

.btn-row {
  margin-top: 35px;
  display: flex;
  gap: 18px;

  button {
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
  }

  .create {
    // background: linear-gradient(90deg, #581aae, #d400ff);
    background: #581aae;
    color: white;

    &:hover {
      opacity: 0.8;
    }
  }

  .cancel {
    background: transparent;
    border: 2px solid #581aae;
    color: #581aae;

    &:hover {
      background: #f8e9ff;
    }
  }
}
  }
}                }
            }
        }
      }
    }
